<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto mt-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="card mt-0">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
          <i class="help-block">(変更を確認するために現在のパスワードが必要です)</i>
        </div>

        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="card-footer justify-content-center actions" style="display:block">
        <%= f.submit "更新する", class: 'btn btn-warning btn-block' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
