<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto mt-5">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
          <%= render "devise/shared/error_messages", resource: resource %>

        </div>
        <div class="card-footer actions" style="display:block;">
          <%= f.submit "パスワード再設定", class: 'btn btn-primary btn-block' %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
